.App-about {
    margin-bottom: 7em;
}

.App-about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin: 20px auto;
    border-radius: 25px;
    max-width: 1200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, #0b3061, #1a2e4d, #0a1944);
}

.App-about-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 50px;
}

/* Styling for paragraph */
.App-about p {
    color: #fff;
    padding: 0 40px;
    line-height: 1.5;
    font-weight: 500;
    text-align: justify;
}

/* Media queries for responsiveness */

@media screen and (max-width: 1024px) {
    .App-about-container {
        padding: 30px;
        flex-direction: column; /* Stacks content vertically */
    }

    .App-about p {
        padding: 0 20px;
        font-size: 1rem; /* Adjust text size for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .App-about {
        margin: 0 1em 5em 1em;
    }
    
    .App-about-container {
        padding: 20px;
        flex-direction: column;
    }

    .App-about p {
        padding: 0 15px;
        margin-bottom: 2em; /* Reduce space below paragraphs */
        font-size: 0.95rem; /* Slightly smaller font size */
    }
    .App-about-container div {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .App-about-container img {
        margin: 1em;
    }
}

@media screen and (max-width: 480px) {
    .App-about-container {
        padding: 15px;
        max-width: 90%; /* Allow for more space on mobile */
    }

    .App-about p {
        padding: 0 10px;
        font-size: 0.9rem; /* Even smaller font size on very small screens */
    }
}
