.App-CA {
    margin-bottom: 5em;
    color: #fff;
    padding-top: 7em;
}

.app-ca-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 40px;
    margin: 20px auto;
    border-radius: 25px;
    max-width: 1200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, #0b3061, #1a2e4d, #0a1944);
}

.app-ca-container a {
    color: #fff;
}

.App-CA p {
    color: #fff;
    line-height: 1.5;
    font-weight: 500;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .app-ca-container {
        margin: 0 1em 5em 1em;
    }
    
}