.App-contact {
    margin-bottom: 5em;
    color: #fff;
}

.App-contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    margin: 20px auto;
    border-radius: 25px;
    max-width: 1200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, #0b3061, #1a2e4d, #0a1944);
}

.contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15em;
}

.App-contact h1 {
    margin-bottom: 1em;
}

.contact-form {
    border: 1px solid;
    border-radius: 8px;
    padding: 20px 20px;
}

.contact-form input{
    width: 25em;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid;
}

.contact-form textarea {
    width: 25em;
    padding: 10px;
    margin: 10px 0;
    resize: none;
    border-radius: 5px;
    border: 1px solid;
}


.contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background: #004a79;
    color: #fff;
}

.contact-info a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .App-contact {
        margin: 0 1em 5em 1em;
    }

    .contacts {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .contact-form {
        max-width: 20em;
        padding: 2em 15px;
    }

    .contact-form input {
        width: 20em;
        padding: 10px auto;
    }

    .contact-form textarea {
        width: 20em;
        padding: 2em 5px;
    }

    .contact-info {
        text-align: center;
    }
}