.App-guidelines li {
    color: #fff;
    padding: 0 7em;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5;
}

.App-guidelines {
    margin-bottom: 7em;
}

@media screen and (max-width: 768px) {
    .App-guidelines li {
        padding: 0 2em;
    }

    .App-guidelines {
        margin-bottom: 3em;
    }
}