.App-HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 9em;
    color: white;
    position: relative; /* Required for the pseudo-element */
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; /* Ensures no extra content spills out */
}

.App-HomePage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.App-HomePage > * {
    position: relative;
    z-index: 2;
}


@media screen and (max-width: 768px) {
    .App-HomePage {
        margin-bottom: 0;
    }
    .App-HomePage img {
        width: 100%;
    }
    .App-HomePage #dept {
        width: 90%;
    }
}
