.App-HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 9em;
    color: white;
}

.App-HomePage img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 3em;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.loader {
    border: 8px solid rgba(255, 255, 255, 0.2);
    border-top: 8px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hidden {
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .App-HomePage {
        margin-bottom: 0;
    }
    .App-HomePage img {
        width: 90%;
    }
    .App-HomePage #dept {
        width: 90%;
    }
}

.App-HomePage h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.App-HomePage p {
    font-size: 1.5em;
    text-align: center;
    color: #dcdcdc;
    margin-top: 1em;
    line-height: 1.6;
}
.home-animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 30px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: transparent;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff;
    box-shadow: 0 0 0 2px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    display: none;
  }
  
  .home-animated-button svg {
    position: absolute;
    width: 24px;
    fill: #ffffff;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .home-animated-button .arr-1 {
    right: 16px;
  }
  
  .home-animated-button .arr-2 {
    left: -25%;
  }
  
  .home-animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .home-animated-button:hover {
    box-shadow: 0 0 0 1px;
    color: #ffffff;
  }
  
  .home-animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .home-animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .home-animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .home-animated-button:hover svg {
    fill: #ffffff;
  }
  
  .home-animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px;
  }
  
  .home-animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }

  @media screen and (max-width: 768px) {
    .home-animated-button {
        display: flex;
    }
    
  }

@supports (-webkit-overflow-scrolling: touch) {
    .App-HomePage {
        background-image: url(../../assets/bg.jpg); /* Ensure the path is correct */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        margin-bottom: 5em;
        z-index: 0;
    }

    .App-HomePage::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}
