.App-organizers {
    color: #fff;
    margin-bottom: 7em;
}

.organizers-data {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.organizers-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    overflow: hidden;
    border: 3px solid #fff;
    transition: transform 0.3s ease-in-out;
}

.organizers-image:hover {
    transform: scale(1.1);
}

.organizers-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
    gap: 4em;
}

.patrons, .co-convenors {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4em;
}

@media screen and (max-width: 768px) {
    .App-organizers {
        margin-bottom: 3em;
    }

    .organizers-row {
        gap: 2em;
    }

    .patrons, .co-convenors {
        gap: 2em;
    }
}