.App-student {
    color: #fff;
    margin-bottom: 7em;
    padding: 0 10em;
}

.App-student-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    margin: 20px auto;
    border-radius: 25px;
    max-width: 1200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, #0b3061, #1a2e4d, #0a1944);
}

.students {
    text-align: center;
    display: block;
}

span {
    font-weight: bold;
}

.student-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    margin-top: 2em;
}

.student-row:first-child {
    margin-top: 0;
}


@media screen and (max-width: 768px) {
    .App-student {
        margin-bottom: 3em;
        padding: 0 2em;
    }

    .App-student h1 {
        font-size: 1.6em;
    }

    .student-row {
        flex-direction: column;
    }
}