.App {
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 1;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed; 
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 20px 0;
  position: relative;
  z-index: 1;
}

@supports (-webkit-overflow-scrolling: touch) {
  body {
    background-image: none;
    background: linear-gradient(135deg, #0b3061, #1a2e4d, #0a1944);
  }
}